* { margin: 0; padding: 0; border: 0; box-sizing: border-box; }
@font-face { font-family: rubik; src: url(../fonts/rubik.ttf); }
@font-face { font-family: jenna; src: url(../fonts/jenna-sue.ttf); }
body {
    font-family: rubik, jenna, Arial, sans-serif;
    font-size: 16px;
}
:root {
    --main_color: #373737;
    --second_color: #ECF0F3;
    --y_color: #FD9E10;
}
/* Font Size Settings
h1 { font-size: 2.625em; line-height: 1.548em; }
h2 { font-size: 2.063em; line-height: 1.557em; }
h3 { font-size: 1.625em; line-height: 1.615em; }
h4, p { font-size: 1.25em; line-height: 1.65em; }
h5 { font-size: 1em; line-height: 1.688em; }
h6 { font-size: .813em; line-height: 1.769em; }

END Font Size Settings */
h1 {
    z-index: 3;
    font-family: jenna, Arial, sans-serif;
    font-size: 5.064em;
    font-weight: 500;
    line-height: 1.548em;
    color: var(--y_color);
}
h2 {
    z-index: 3;
    font-size: 2.625em;
    line-height: 1.548em;
    font-weight: 500;
    text-align: center;
    color: var(--second_color);
}
h3 {
    font-family: jenna, rubik, Arial, sans-serif;
    font-size: 3em;
    font-weight: 500;
    line-height: 2.1em;
    color: var(--main_color);
    text-align: center;
    padding-top: .5rem;
}
p, strong { font-size: 1.25em; line-height: 1.65em; }
a { text-decoration: none; }
li { list-style: none; }

/***********************************
*              nav                 *
***********************************/
nav {
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 50px;
    background: var(--main_color);
    border-bottom: solid 1px rgba(204, 204, 204, .5);
}
nav svg {

    height: 33px;
    position: absolute;
    left: 1.5rem;
}

.brand_ctn { padding: .5rem 0 0 0;}
.brand_name span { color: var(--y_color); }
.brand_name {
    font-family: jenna, Arial, sans-serif;
    font-size: 2.3em;
    line-height: 1.65rem;
    color: var(--second_color);
}

.nav_ctn {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

nav ul{
    transition: right .5s ease-in;
    position: absolute;
    list-style: none;
    top: 50px;
    right: -100%;
    width: 100%;
    background: var(--main_color);
}
nav ul li { list-style: none; border-top: 1px solid rgba(204, 204, 204, .3); }
nav ul li a {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    white-space: nowrap;
    font-size: 1.25em;
    color: var(--second_color);
    padding: 0 1rem;
}

.btn_border {
    position: relative;
    color: var(--y_color);
    border: solid 2px var(--y_color);
    border-radius: 5px;
    margin: 5px;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 1rem 0 3rem;
}

nav ul li a:hover { background: linear-gradient(90deg, rgba(255, 255, 255, 0) 99%, var(--y_color) 99%); }
.btn_border:hover{ background: none;}
/* Start Design Toggle Menu */
.nav_toggle_bar{
    position: absolute;
    display: flex;
    align-items: center;
    right: 1rem;
    top: 0;
    list-style: none;
    height: 50px;
    width: 35px;
    cursor: pointer;
}

.nav_bar {
    position: absolute;
    background: var(--second_color);
    height: 3.5px;
    width: 35px;
    border-radius: 2px;
    transition: all .5s ease-in-out;
}

#bar1 { transform: translateY(-6px); }
#bar2 { transform: translateY(6px); }
#nav_checkbox:checked ~ label #bar1 { transform: rotate(-45deg); }
#nav_checkbox:checked ~ label #bar2 { transform: rotate(45deg); }
#nav_checkbox:checked ~ ul { right: 0; }
#nav_checkbox { display: none; }
/* End Design Toggle Menu */

/***********************************
*             header               *
***********************************/
header {
    position: relative;
    background-image: url("../img/bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--main_color);
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(70, 52, 78, .4);
    z-index: 2;
}

.btn_space {
    position: relative;
    z-index: 3;
    margin: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
}
.btn_a, .btn_b { font-size: 1.25rem; border-radius: 5px; margin: .5rem 1rem;}
.btn_a {
    color: var(--y_color);
    border: solid 2px var(--y_color);
    padding: .35rem 1rem;
}

.btn_b {
    color: var(--second_color);
    background: var(--y_color);
    padding: .5rem 1rem;
}

/***********************************
*           How to order           *
***********************************/
.container {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
.order { background: var(--y_color); }
.order h3 { color: var(--second_color); }
.order_box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.order_action_img {
    margin: 1rem 1rem;
    position: relative;
    height: 230px;
    width: 230px;
    border-radius: 50%;
    z-index: 1;
    background: #00917C;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}

.order_action_img:after {
    position: absolute;
    content: '';
    top: 10px;
    left: 10px;
    width: 210px;
    height: 210px;
    background: var(--second_color);
    z-index: -1;
    border-radius: 50%;
}

.order_action_img:before {
    position: absolute;
    content: '';
    top: -5px;
    left: -5px;
    width: 115px;
    height: 115px;
    background: var(--y_color);
    z-index: -1;
}

.order_actions:nth-child(1) .order_action_img:before { width: 115px; height: 240px; }
.order_actions:nth-child(3) .order_action_img:before { width: 0; height: 0; }

svg {
    position: relative;
    width: 155px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.order_p { color: var(--second_color); text-align: center; }
/***********************************
*              About               *
***********************************/
.section_about { margin-bottom: 2rem; }
article {
    display: flex;
    flex-direction: column;
    /*margin-bottom: 21rem;*/
}
.text_section { display: flex; flex-direction: column; }

.text_section a {
    color: var(--second_color);
    background: var(--main_color);
    padding: .5rem 1rem;
    border-radius: 9999px;
    width: 12ch;
    font-size: 1.25em;
    margin: .5rem 0;
}

.image_section {
    margin: auto 0;
    display: grid;
    grid-template-columns: calc(50% - 3px) calc(50% - 3px);
    grid-gap: 3px;
}
.image_section img { width: 100%; }
/***********************************
*             Min menu             *
***********************************/
.menu_min {
    background: var(--main_color);
    padding-bottom: calc(50px + 3rem);
    height: 650px;
    position: relative;
}
.menu_min h3 { color: var(--second_color); }

.menu_min ul li {
    position: absolute;
    text-align: center;
    min-width: 220px;
    max-width: 330px;
    padding: 0 20px;

    left: 50%;
    transform: translateX(-50%);
    display: none;
}

#ms1, #ms2, #ms3 { display: none; }
#ms1:checked ~ #menu_slide_1,
#ms2:checked ~ #menu_slide_2,
#ms3:checked ~ #menu_slide_3 {
    display: block;
}

.arrows {
    font-size: 4rem;
    line-height: 0;
    color: var(--main_color);
    cursor: pointer;
    user-select: none;
    background: var(--second_color);
    position: absolute;
    bottom: -4rem;
    padding: 1.5rem 0;
    width: 140px;
    height: 30px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .6),
    -3px -3px 3px rgba(255, 255, 255, .3);
}
.arrows:nth-last-child(1) {
    transform: translateX(-50%);
    margin-left: 80px;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
}
.arrows:nth-child(2) {
    transform: translateX(-50%);
    margin-left: -80px;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
}


.menu_min ul li a {
    display: flex;
    flex-direction: column;
    color: var(--second_color);
}

.menu_min ul li a img {
    margin-bottom: 1.5rem;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .6),
    -4px -4px 3px rgba(255, 255, 255, .3);
}

.menu_min ul li a p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.menu_title { font-size: 1.625em; line-height: 1.615em; }
.menu_min ul li a p span{ color: var(--y_color); }

/***********************************
*             Max menu             *
***********************************/
.menu_max { overflow: hidden;}
.menu_max .container { padding: unset; }
.menu_max ul {
    position: relative;
    display: flex;
    flex-direction: row;
    background: var(--main_color);

}

.menu_max ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding-top: 20%;
    position: relative;
    background: var(--y_color);
}

.menu_max ul li:hover {cursor: pointer }
.menu_max ul li svg {
    fill: var(--second_color);
    width: 40%;
    position: absolute;
}

.menu_max ul li:nth-child(even) {background-color: #00917C;}
.menu_name {
    font-size: 1em;
    line-height: 1.688em;
    text-align: center;
    color: var(--second_color);
    position: absolute;
    bottom: 0;
}

.products { position: relative; display: flex; padding: 10px; }
.products:nth-child(even) {background-color: #f2f2f2;}
.products img { width: 70px; height: 70px; border-radius: 50%; }
.details { padding: 0 1rem;}
.products_title, .products_price { font-size: 1em; line-height: 1.688em; }
.products_price { position: absolute; right: 1rem;}

.products_details {
    font-size: .813em;
    line-height: 1.769em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-right: 5ch;
}

/***********************************
*              Chef                *
***********************************/
.p_chef { text-align: center;}
.chef_list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 3rem;
}
.chef_list p { padding-left: 1rem; }
.chef_cards {
    position: relative;
    border: solid 2px var(--main_color);
    border-radius: 15px;
    width: 290px;
    height: 360px;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(0 , var(--main_color) 33%, #fff 33%);
}
.chef_cards img {
    position: absolute;
    width: 200px;
    bottom: calc(33% - 1px);
    left: 50%;
    transform: translateX(-50%);
}
.chef_name { margin-top: 250px; color: var(--y_color); }
.chef_position { color: var(--second_color); font-size: 1em; line-height: 1.688em; }

/***********************************
*             Footer               *
***********************************/
footer { background: var(--main_color); }
footer h3 { color: var(--second_color);}
address { color: var(--second_color); font-size: 1.25em; line-height: 1.65em; text-align: center;}
iframe { margin: 2rem 0;}
.footer_c p { color: var(--second_color); text-align: center; }
.footer_c .social_media { justify-content: center;}
.footer_c .social_media svg { margin: 1rem;}
form {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.label_footer {
    font-size: 1em;
    line-height: 1.688em;
    color: var(--second_color);
}

form input {
    padding: .5rem 1rem;
    border-radius: 9999px;
    margin: 0 0 .5rem 0;

}
.submit {
    position: relative;
    width: 150px;
    font-size: 1em;
    line-height: 1.688em;
    left: 50%;
    transform: translateX(-50%);
    padding: .3rem;
    margin-top: 1rem;

}
.cr {
    font-size: .813em;
    line-height: 1.769em;
    color: var(--second_color);
    text-align: center;
    padding: 2rem 0 1rem 0;
}

/***********************************
*          Social media            *
***********************************/
.social_media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.social_media a {
    padding: 2px;
    background: var(--main_color);
    box-shadow: inset 2px 2px 3px var(--main_color),
    inset -2px -2px 3px var(--main_color);
}
.social_media a svg {
    width: 29px;
    fill: var(--main_color);
    background: var(--second_color);
}

.social_media a:nth-child(1) svg:hover{ background: #4267B2; }
.social_media a:nth-child(2) svg:hover{ background: #1DA1F2; }
.social_media a:nth-child(3) svg:hover{ background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); }
.social_media a:nth-child(4) svg:hover{ background: #2867B2; }
.social_media a:nth-child(5) svg:hover{ background: #ea4c89; }
@media (min-width: 768px){
    /***********************************
    *              nav                 *
    ***********************************/
    .nav_label { display: none; }

    nav ul{
        position: absolute;
        display: flex;
        align-items: center;
        right: 0;
        animation: inherit;
        top: inherit;
        left: unset;
        width: inherit;
        background: inherit;
        box-shadow: none;
        padding-right: 1rem;
    }

    nav ul li { border-top: none; }
    nav ul li a:hover { background: linear-gradient( rgba(255, 255, 255, 0) 93%, var(--y_color) 93%) ;}

    .btn_space {
        flex-direction: row;
    }
    /***********************************
    *              About               *
    ***********************************/
    article {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 45% 55%;
        width: 100%;
    }

    .text_section p{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
    }

    /***********************************
    *             Min menu             *
    ***********************************/
    #ms1:checked ~ #menu_slide_1,
    #ms2:checked ~ #menu_slide_2,
    #ms3:checked ~ #menu_slide_3 {
        display: unset;
    }
    .arrows { display: none;}
    .menu_min { height: 100%;}
    .menu_min ul { display: flex; flex-direction: row; justify-content: space-around; }
    .menu_min ul li { position: initial; left: unset; transform: unset; display: unset; }
    /***********************************
    *             Max menu             *
    ***********************************/
    .products:nth-child(even) {background-color: initial;}
    .two_col {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .menu_min ul li:nth-last-child(1), .menu_min ul li:nth-last-child(3) {
        position: relative;
        transform: translateY(50px);
    }

    .border_hr { width: 100%; height: 2px; background: linear-gradient(90deg, rgba(0, 0, 0, 0) 5% 15%, var(--main_color), rgba(0, 0, 0, 0) 85% 95% ); }
    .border_h { transform: translateY(-100%); width: 2px; position: absolute; left: 50%;
        height: 300px; background: linear-gradient(rgba(0, 0, 0, 0) 5% 15%, var(--main_color), var(--main_color) 85% 95% ); }
}